<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content [formGroup]="playerForm">
  <div formGroupName="{{PlayerAttributeGroups.GENERAL.valueOf()}}">
    <div>
      <mat-label>Player position: </mat-label>
      <mat-radio-group aria-label="Player position" (change)="handlePositionChange()" formControlName="position">
        <mat-radio-button value="{{PlayerPosition.GOALKEEPER}}">Goalkeeper</mat-radio-button>
        <mat-radio-button value="{{PlayerPosition.OUTFIELDER}}">Outfielder</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <mat-form-field>
        <input type="text" placeholder="Name" matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
          <input type="text" placeholder="Search for a country" matInput class="filter" #countrySearch>
          <mat-divider></mat-divider>
          <mat-option [value]="country" *ngFor="let country of countries | filterCountry: countrySearch.value | orderBy: {property: 'name', direction: 1}">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="playerIsOutfielder(); else gkTemplate">
    <div>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.GENERAL.valueOf()}}">
        <input placeholder="Pace" matInput type="number" min="1" max="6" formControlName="pace">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.GENERAL.valueOf()}}">
        <input placeholder="Dribbling" matInput type="number" min="1" max="6" formControlName="dribbling">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.OUTFIELDER.valueOf()}}">
        <input placeholder="Heading" matInput type="number" min="1" max="6" formControlName="heading">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.GENERAL.valueOf()}}">
        <input placeholder="High pass" matInput type="number" min="1" max="6" formControlName="highPass">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.GENERAL.valueOf()}}">
        <input placeholder="Resilience" matInput type="number" min="1" max="6" formControlName="resilience">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.OUTFIELDER.valueOf()}}">
        <input placeholder="Shooting" matInput type="number" min="1" max="6" formControlName="shooting">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.OUTFIELDER.valueOf()}}">
        <input placeholder="Tackling" matInput type="number" min="1" max="6" formControlName="tackling">
      </mat-form-field>
    </div>
  </div>
  <ng-template #gkTemplate>
    <div>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.GOALKEEPER.valueOf()}}">
        <input placeholder="Aerial ability" matInput type="number" min="1" max="6" formControlName="aerialAbility">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.GENERAL.valueOf()}}">
        <input placeholder="Dribbling" matInput type="number" min="1" max="6" formControlName="dribbling">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.GENERAL.valueOf()}}">
        <input placeholder="Pace" matInput type="number" min="1" max="6" formControlName="pace">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.GENERAL.valueOf()}}">
        <input placeholder="Resilience" matInput type="number" min="1" max="6" formControlName="resilience">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.GOALKEEPER.valueOf()}}">
        <input placeholder="Saving" matInput type="number" min="1" max="6" formControlName="saving">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.GOALKEEPER.valueOf()}}">
        <input placeholder="Handling" matInput type="number" min="1" max="6" formControlName="handling">
      </mat-form-field>
      <mat-form-field formGroupName="{{PlayerAttributeGroups.GENERAL.valueOf()}}">
        <input placeholder="High Pass" matInput type="number" min="1" max="6" formControlName="highPass">
      </mat-form-field>
    </div>
  </ng-template>
</div>

<div mat-dialog-actions>
  <button mat-button type="submit" [disabled]="!validPlayerData()" (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
