@font-face {
  font-family: 'Komika Axis';
  src: url('KomikaAxis.woff2') format('woff2'),
  url('KomikaAxis.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
