@import '../../assets/fonts/komikaaxis.css';

table {
  width: 100%;
}

canvas {
  float: right;
}

div.sticky-canvas {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

div.overflow {
  overflow: hidden;
}

.spacer {
  flex: 1;
}

.aligned-with-icon{
  position: relative;
  margin-top: 6px;
  margin-left: 6px;
}

::ng-deep .mat-tooltip {
  font-size: 15px;
  white-space: pre-line;
}

.load-font-on-page-load {
  height: 0;
  width: 0;
  opacity: 0;
  font-family: Komika Axis;
}
