<p>xls-reader works!</p>

<!--<mat-toolbar color="primary">-->
<!--  <input type="file" style="display: inline-block;" (change)="incomingFile($event)" placeholder="{{'uploadFilePlaceholder'}}" accept=".xlsx, .xls">-->
<!--  <button mat-button type="button" (click)="uploadFile()" i18n="@@uploadFile">Upload </button>-->
<!--</mat-toolbar>-->

<!--<table mat-table [dataSource]="data">-->
<!--  <ng-container matColumnDef="STAWKA_AMORTYZACJI">-->
<!--    <th mat-header-cell *matHeaderCellDef> STAWKA_AMORTYZACJI </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element[0]}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="OKRES_UMOWY">-->
<!--    <th mat-header-cell *matHeaderCellDef> OKRES_UMOWY </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element[1]}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="WARTOSC">-->
<!--    <th mat-header-cell *matHeaderCellDef> WARTOSC </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element[2]}} </td>-->
<!--  </ng-container>-->
<!--  <tr mat-header-row *matHeaderRowDef="data[0]"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: data[0];"></tr>-->
<!--</table>-->

<input type="file" style="display: inline-block;" (change)="incomingFile($event)" placeholder="{{'uploadFilePlaceholder'}}" accept=".xls, .xlsx">
<button mat-button type="button" (click)="uploadFile()" i18n="@@uploadFile">Upload </button>

<table mat-table [dataSource]="data">

</table>

